@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.profpage{
    flex: 0.6 !important;
    border-right: 1px solid var(--twitter-background);
    
}


.warningp > img{
  height: 200px;
  width: 200px;
  animation: fadeIn 5s;
}

.warningp{
  text-align: center;
  margin-top: 200px;
}
  
